   <footer id="tw-footer" class="tw-footer">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-lg-4">
               <div class="tw-footer-info-box">
                  <a routerLink="" class="footer-logo">
                     <img src="assets/assetstuwebsite/images/footer_logo.png" alt="footer_logo" class="img-fluid">
                  </a>
                 <!--  <p class="footer-info-text">
                     Implementamos soluciones óptimas para su sitio web.
                  </p> -->
                  <div class="footer-social-link">
                     <h3>Síguenos @tuw3bsite</h3>
                     <ul>
                        <li><a href="https://www.facebook.com/tuw3bsite" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/tuw3bsite" target="_blank"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                  </div>
                  <!-- End Social link -->
               </div>
               <!-- End Footer info -->
               
            </div>
            <!-- End Col -->
            <div class="col-md-12 col-lg-8">
               <div class="row">
                   <div class="col-md-12 col-lg-12" style="padding-top: 10%;">
                   <!--   <div class="footer-awarad" style="margin-top: 0px;padding-left: 80px;">
                        <img src="assets/assetstuwebsite/images/icon/best.png" alt="">
                        <p>TuW3bSite 2020</p>
                     </div> -->
                     <!-- End Footer Widget -->
                  </div>
               <div class="col-md-6">
                     <div class="contact-us">
                        <div class="contact-icon">
                           <i class="fa fa-instagram"></i>
                        </div>
                        <!-- End contact Icon -->
                        <div class="contact-info">
                           <!-- <h3>@tuw3bsite</h3> -->
                            <h3><a href="https://www.instagram.com/tuw3bsite" target="_blank"> @tuw3bsite</a></h3>
                           <p>Síguenos</p>
                        </div>
                        <!-- End Contact Info -->
                     </div>
                     <!-- End Contact Us -->
                  </div>
                  <div class="col-md-6">
                     <div class="contact-us">
                        <div class="contact-icon">
                           <i class="icon icon-phone3"></i>
                        </div>
                        <!-- End contact Icon -->
                        <div class="contact-info">
                           <h3><a href="tel:584147529202"> +58 414 7529202</a></h3>
                           <p>Llámanos</p>
                        </div>
                        <!-- End Contact Info -->
                     </div>
                     <!-- End Contact Us -->
                  </div>
                  
                  <!-- End Col -->
                
                  <!-- End Col -->
               </div>
               <!-- End Contact Row -->
             <!--  <div class="row">
                 
               </div> -->
               <!-- End Row -->
            </div>
            <!-- End Col -->
         </div>
         <!-- End Widget Row -->
      </div>
      <!-- End Contact Container -->


      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12" style="padding-left: 16%; padding-right: 16%;">
                  <span>Copyright &copy; 2020, Todos los derechos reservados tuw3bsite</span>
               </div>
               <!-- End Col -->
               
            </div>
            <!-- End Row -->
         </div>
         <!-- End Copyright Container -->
      </div>
      <!-- End Copyright -->
      <!-- Back to top -->
      <div id="back-to-top" class="back-to-top">
         <button class="btn btn-dark" title="Back to Top">
            <i class="fa fa-angle-up"></i>
         </button>
      </div>
   
      <!-- End Back to top -->

         <a tw-mt-30 href="https://wa.me/584147529202?text=Hola!!%20necesito%20de%20los%20servicios%20de%20Tuw3bsite" class="whatsapp" target="_blank" title="Hablemos por whatsapp !" style="color: white;"> 
         <i class="fa fa-whatsapp"></i>
         </a>
   </footer>