 <footer id="tw-footer" class="tw-footer">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-lg-4">
               <div class="tw-footer-info-box">
                  <a href="index.html" class="footer-logo">
                     <img src="assets/assetstuwebsite/images/footer_logo.png" alt="footer_logo" class="img-fluid">
                  </a>
                  <p class="footer-info-text">
                     Implementamos soluciones óptimas para tu sitio web.
                  </p>
                  <div class="footer-social-link">
                     <h3>Sigenos en las RRSS</h3>
                     <ul>
                        <li><a href="https://www.facebook.com/tuw3bsite" target="_blanck"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/tuw3bsite" target="_blanck"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                  </div>
                  <!-- End Social link -->
               </div>
               <!-- End Footer info -->
               <div class="footer-awarad">
                  <img src="assets/assetstuwebsite/images/icon/best.png" alt="">
                  <p>TuW3bSite 2020</p>
               </div>
            </div>
            <!-- End Col -->
            <div class="col-md-12 col-lg-8">
               <div class="row">
               <div class="col-md-6">
                     <div class="contact-us">
                        <div class="contact-icon">
                           <i class="icon icon-map2"></i>
                        </div>
                        <!-- End contact Icon -->
                        <div class="contact-info">
                           <h3>Mérida, Venezuela</h3>
                           <p>Visitanos</p>
                        </div>
                        <!-- End Contact Info -->
                     </div>
                     <!-- End Contact Us -->
                  </div>
                  <div class="col-md-6">
                     <div class="contact-us">
                        <div class="contact-icon">
                           <i class="icon icon-phone3"></i>
                        </div>
                        <!-- End contact Icon -->
                        <div class="contact-info">
                           <h3><a href="tel:584147529202"> +58 412 7503002</a></h3>
                           <p>Soporte 24/7</p>
                        </div>
                        <!-- End Contact Info -->
                     </div>
                     <!-- End Contact Us -->
                  </div>
                  <!-- End Col -->
                
                  <!-- End Col -->
               </div>
               <!-- End Contact Row -->
              <div class="row">
                  <div class="col-md-12 col-lg-6">
                     <div class="footer-widget footer-left-widget">
                        <div class="section-heading">
                           <h3>A un click!</h3>
                           <span class="animate-border border-black"></span>
                        </div>
                        <ul>
                           <li><a href="portafolio.html">Portafolio</a></li>
                        </ul>
                        
                     </div>
                     <!-- End Footer Widget -->
                  </div>
               </div>
               <!-- End Row -->
            </div>
            <!-- End Col -->
         </div>
         <!-- End Widget Row -->
      </div>
      <!-- End Contact Container -->


      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <span>Copyright &copy; 2020, Todos los derechos reservados tuw3bsite</span>
               </div>
               <!-- End Col -->
               
            </div>
            <!-- End Row -->
         </div>
         <!-- End Copyright Container -->
      </div>
      <!-- End Copyright -->
      <!-- Back to top -->
      <div id="back-to-top" class="back-to-top">
         <button class="btn btn-dark" title="Back to Top">
            <i class="fa fa-angle-up"></i>
         </button>
      </div>
   
      <!-- End Back to top -->

         <a tw-mt-30 href="https://wa.me/584127503002?text=Hola!!%20necesito%20de%20los%20servicios%20de%20Tuw3bsite" class="whatsapp" target="_blank" title="Hablemos por whatsapp !" style="color: white;"> 
         <i class="fa fa-whatsapp"></i>
         </a>
   </footer>