  <section id="work-process" class="work-process">
      <div class="work-bg-pattern d-none d-lg-inline-block">
         <img src="assets/assetstuwebsite/images/process/work_process.png" alt="" class="img-fluid wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.2s">
      </div>
      <!-- End Work BG Pattern -->
      <div class="container">
         <div class="row text-center">
            <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
               <h2>
                  <small>Tu pàgina en pocos pasos</small>Proceso de <span>Trabajo</span></h2>
               <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
            </div>
            <!-- End Col -->
         </div>
         <!-- End Row -->
         <div class="row">
            <div class="col-md-3">
               <div class="tw-work-process">
                  <div class="process-wrapper d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                     <div class="process-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/process1.png" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End process wrapper -->
              <p>01. Identificamos la temática de su negocio y el proposito</p>

               </div>
               <!-- End Tw work process -->
            </div>
            <!-- End Col -->
            <div class="col-md-3">
               <div class="tw-work-process">
                  <div class="process-wrapper bg-orange d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                     <div class="process-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/process2.png" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End Process Wrapper -->
                <p>02. Realizamos una propuesta acorde a sus requerimientos</p>

               </div>
               <!-- End Word Process -->
            </div>
            <!-- End Col -->
            <div class="col-md-3">
               <div class="tw-work-process">
                  <div class="process-wrapper bg-blue d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
                     <div class="process-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/process3.png" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End Process Wrapper -->
                  <p>03. Programamos y le damos funcionalidad a su proyecto</p>

               </div>
               <!-- End Work Process -->
            </div>
            <!-- End Col -->
            <div class="col-md-3">
               <div class="tw-work-process">
                  <div class="process-wrapper bg-yellow d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".8s">
                     <div class="process-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/process4.png" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End PRocess Wrapper -->
                  <p>04. Felicidades, su negocio se enuentra en linea!!!</p>
               </div>
               <!-- End Work Process -->
            </div>
            <!-- End Col -->
            
         </div>
         <!-- End Row -->
      </div>
      <!-- End Container -->
   </section>