  <div class="tw-hero-slider owl-carousel slider-abosulte tw-slider"  style="margin-top: -90px;">
      <div class="slider-1">
         <div class="slider-wrapper d-table">
            <div class="slider-inner d-table-cell">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-md-6">
                        <img src="assets/assetstuwebsite/images/slider/slider2.png" alt="" class="img-fluid slider-img">
                     </div>
                     <div class="col-md-6">
                        <div class="slider-content">
                           <h1>Agencia <span>Creativa </span> Digital </h1>
                           <p>Diseño y desarrollo web</p>
                           <a href="#tw-service" class="btn btn-primary">Que tipo de página web deseas?</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="slider-1">
         <div class="slider-wrapper d-table">
            <div class="slider-inner d-table-cell">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-md-6">
                        <div class="slider-content">
                           <h1>Aplicaciones adaptadas a su
                           <span>empresa</span>
                           </h1>
                           <p>Desarrollo de software a medida</p>
                           <a href="https://wa.me/584147529202?text=Desarrollo!!%20a%20medida20%Tuw3bsite" target="_blank"  class="btn btn-primary">Más información</a>
                        </div>
                     </div>
                     <div class="col-md-5 align-self-center">
                        <img src="assets/assetstuwebsite/images/slider/slider3.png" alt="" class="img-fluid slider-img">
                     </div>
                  </div>
               </div>


               <!--  <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-md-6">
                        <img src="assets/assetstuwebsite/images/slider/slider2.png" alt="" class="img-fluid slider-img">
                     </div>
                     <div class="col-md-6">
                        <div class="slider-content">
                           <h1>Agencia <span>Creativa </span> Digital </h1>
                           <p>Diseño y desarrollo web</p>
                           <a href="#tw-service" class="btn btn-primary">Que tipo de página web deseas?</a>
                        </div>
                     </div>
                  </div>
               </div> -->

            </div>
         </div>
      </div>
    
      <div class="slider-3 bg-offwhite">
         <div class="slider-wrapper d-table">
            <div class="slider-inner d-table-cell">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-md-5 align-self-center">
                        <img src="assets/assetstuwebsite/images/slider/slider4.png" alt="" class="img-fluid slider-img">
                     </div>
                     <div class="col-md-6">
                        <div class="slider-content">
                           <h1> Tuw3bsite
                              <span style="color: #f9057c;">Shops</span> </h1>
                           <p>Te ayudamos a vender en internet</p>
                           <a href="shops/" class="btn btn-secondary">Pruebala ya</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Slider 3 end -->
   </div>