<div id="main-container" class="main-container">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="row">
        <div class="col text-center">
           <div class="section-heading">
              <h2>
                 <small>Que es una</small>
                 Web <span>Informativa?</span>
              </h2>
              <span class="animate-border tw-mt-20 tw-mb-40 mr-auto ml-auto"></span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-5 align-self-center">
           <div class="tw-web-analytics-content">
              <i class="icon icon-coins-1"></i>
              <h3>Informan y comunican</h3>
              <span class="bottom-border tw-mt-20 tw-mb-30"></span>
              <p align="justify">
                 Son aquellas paginas de tipo estaticas que permiten presentar informacion permanente. Utilizadas basicamente para indicar servicios, Establecer comunicacion con clientes, exhibir a traves de imagenes y/o videos productos y servicios que un profesional o empresa.
              </p>
           </div>
        </div>
        <div class="col-md-6 ml-auto align-self-md-center">
           <img src="assets/assetstuwebsite/images/services/single_service_img2.png" alt="" class="img-fluid analytics-img">
        </div>
     </div>
</div>


<div id="main-container" class="main-container">
  <div class="container"  >
     <div class="row">
        <div class="col-lg-3 col-md-12">
           <div class="section-heading">
              <h2>
                 Diferentes <span>webs</span>
              </h2>
              <span class="animate-border tw-mt-30 tw-mb-50"></span>
              <p align="justify">las páginas informativas se clasifican segun su objetivo. En este apartado te dejamos lo más relevantes sobre las webs informativas como guia para que encuentres la página que mejor se adapte a las necesidades de tu empresa.</p>
           </div>
        </div>
        <div class="col-lg-9 col-md-12">
           <div class="service-list-carousel owl-carousel">
              <div class="tw-service-box-list text-center">
                 <div class="service-list-bg service-list-bg-3 d-table">
                    <div class="service-list-icon d-table-cell">
                       <img src="assets/assetstuwebsite/images/icon/service_color4.png" alt="" class="img-fluid">
                    </div>
                 </div>
                 <h3 align="justify">Landing page </h3>
                 <p>Se crea con el objetivo de captar alguna conversión, ya sea una venta, un registro o una suscripción al boletín de noticias.</p>
              </div>
              <div class="tw-service-box-list text-center">
                 <div class="service-list-bg service-list-bg-2 d-table">
                    <div class="service-list-icon d-table-cell">
                       <img src="assets/assetstuwebsite/images/icon/service_color6.png" alt="" class="img-fluid">
                    </div>
                 </div>
                 <h3>Corporativas</h3>
                 <p align="justify">Ofrecen información acerca de su empresa, asociación, u otra organización, con el objetivo de que tus clientes estén al corriente de tus novedades y cambios. Estos sitios webs contienen solamente información sobre esa institución o empresa con un fin informativo.</p>
              </div>
              <div class="tw-service-box-list text-center">
                 <div class="service-list-bg service-list-bg-3 d-table">
                    <div class="service-list-icon d-table-cell">
                       <img src="assets/assetstuwebsite/images/icon/service_color3.png" alt="" class="img-fluid">
                    </div>
                 </div>
                 <h3>Portafolio</h3>
                 <p align="justify">Destinada a mostrar una recolección de los últimos o mejores trabajos profesionales, junto con la biografía del autor y sus datos de contacto. <br>Si eres un profesional de la fotografía o el diseño, no hay duda de que este tipo de página web es la ideal para ti.</p>
              </div>
              <div class="tw-service-box-list text-center">
                 <div class="service-list-bg service-list-bg-3 d-table">
                    <div class="service-list-icon d-table-cell">
                       <img src="assets/assetstuwebsite/images/icon/service_color2.png" alt="" class="img-fluid">
                    </div>
                 </div>
                 <h3>Servicios Digitales</h3>
                 <p align="justify">Son mucho más que la carta de presentación o el escaparate de tu empresa en Internet. Es un comercial 24h/7 y un canal más de relación con las personas a las que quieres llegar, posibles consumidores de tus productos o usuarios de tus servicios.</p>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
  

<div id="tw-call-to-action" class="tw-call-to-action">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="call-action-bg-pattern">
        <img src="assets/assetstuwebsite/images/services/call_to&#32;_action_img1.png" alt="">
        <img src="assets/assetstuwebsite/images/services/call_to&#32;_action_img2.png" alt="">
     </div>
     <div class="row">
        <div class="col text-center">
           <h2 class="column-title">
              <small>Crece junto a tu empresa</small>
              Lleva tu sitio web a <span>Clientes potenciales</span>
           </h2>
        </div>
     </div>
  </div>
</div>