<div class="search-bar" id="cotizador">
      <i class="fa fa-close"></i>
      <form class="search-bar-fixed" action="index.html#">
         <input class="form-control form-name" name="name" id="name" placeholder="Nombre del proyecto" type="text" required="">
         <input class="form-control form-name" name="name" id="name" placeholder="Tipo de pagina web" type="text" required="">
         <input class="form-control form-name" name="name" id="name" placeholder="color" type="text" required="">
         <input class="form-control form-name" name="name" id="name" placeholder="Url de referencia" type="text" required="">
         <input class="form-control form-name" name="phone" id="name" placeholder="Tematica" type="text" required="">
         <input class="form-control form-name" name="name" id="name" placeholder="Numero telefonico" type="text" required="">
         <div class="text-center">
         <button class="btn btn-primary" tw-mt-30 type="submit"><i class="fa fa-send"> </i>Solicitar cotización</button>
         </div>
      </form>
   </div>