<div id="main-container" class="main-container">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="row">
        <div class="col text-center">
           <div class="section-heading">
              <h2>
                 <small>que es el</small>
                 Desarrollo  <span>A Medida?</span>
              </h2>
              <span class="animate-border tw-mt-20 tw-mb-40 mr-auto ml-auto"></span>
           </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-6 align-self-md-center">
           <img src="assets/assetstuwebsite/images/services/good-design.png" alt="" class="img-fluid analytics-img">
        </div>
        <div class="col-md-5 ml-auto align-self-center">
           <div class="tw-web-analytics-content">
              <i class="icon icon-target"></i>
              <h3>Sitios web a medida</h3>
              <span class="bottom-border tw-mt-20 tw-mb-30"></span>
              <p align="justify">
                 Nos encargamos de ofrecerle soluciones óptimas para su empresa, con ello la automatización de procesos y modernización de su sitios web, hecho a medida.<br>
                 Sus necesidades son el punto de partida para el desarrollo y la creatividad que dará inicio a nuevos proyectos con grandes espectativas.<br>
                 Si tienes una idea en mente nosotros podemos apoyarle con el desarrollo, utilizamos tecnólogia de última generación para aportarle a de su proyecto Rubustez, Confiabilidad, Arquitectura segura y escalable, Disponibilidad, Sistemas cloud, Aplicaciones web, Aplicaciones Web Progresivas. <br>
              </p>
              <p>Desarrollo de micro servicios, adaptación de modulos a su sitio y migración. <br> </p>
           </div>
        </div>
     </div>
  </div>
</div>

<div id="tw-case-working-process" class="tw-case-working-process bg-offwhite">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="row">
        <div class="col text-center">
           <div class="section-heading">
              <h2>
                 <small>Tu pagina en pocos pasos</small>
                 Rápido <span>Procesos</span>
              </h2>
              <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process1.png" alt="" class="img-fluid">
                    <span class="case-process-number">1</span>
                 </div>
              </div>
              <h3>01. Definir las características que se adapte a tus necesidades</h3>
           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process2.png" alt="" class="img-fluid">
                    <span class="case-process-number">2</span>
                 </div>
              </div>
              <h3>02. Propuesta de diseño</h3>
           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process3.png" alt="" class="img-fluid">
                    <span class="case-process-number">3</span>
                 </div>
              </div>
              <h3>03. Programación y configuración</h3>
           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process4.png" alt="" class="img-fluid">
                    <span class="case-process-number">4</span>
                 </div>
              </div>
              <h3>04. Felicidades, ya tienes presencia en internet!!!</h3>
           </div>
        </div>
     </div>
  </div>
</div>
 
<div id="tw-features-contact" class="tw-features-contact">
	<div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
	 <div class="row">
	    <div class="col-md-6">
	       <div class="section-heading">
	          <h2>Si tiene un proyecto, contactenos ahora</h2>
	          <span class="animate-border tw-mt-30 tw-mb-40"></span>
	       </div>
	       <div class="tw-features-contact-info">
	          <p>Le atenderemos, sus necesidades son nuestra prioridad!!</p>
	          <div class="row">
	             <div class="col-lg-6 col-md-12">
	                <div class="contact-us">
	                   <div class="contact-icon">
	                      <i class="icon icon-phone3"></i>
	                   </div>
	                   <div class="contact-info">
	                      <h3>+58 4127503002</h3>
	                      <p>Necesitas ayuda? llamanos!</p>
	                   </div>
	                </div>
	             </div>

	             <div class="col-lg-6 col-md-12">
	                <div class="contact-us">
	                   <div class="contact-icon">
	                      <i class="icon icon-envelope2"></i>
	                   </div>
	                   <div class="contact-info">
	                      <h3>tuw3bsite@gmail.com</h3>
	                      <p>24/7 soporte</p>
	                   </div>
	                </div>
	             </div>
	          </div>
	       </div>
	    </div>
	    <div class="col-md-6">
	       <div class="contact-us-form service-contact-form">
	          <form id="contact-form" class="contact-form" action="http://demo.themewinter.com/html/seobin/contact-form.php" method="POST">
	             <div class="error-container"></div>
	             <div class="row">
	                <div class="col-lg-6">
	                   <div class="form-group">
	                      <input class="form-control form-name" name="name" id="name" placeholder="Nombre" type="text" required="">
	                   </div>
	                </div>
	                <div class="col-lg-6">
	                   <div class="form-group">
	                      <input class="form-control form-email" name="email" placeholder="Email" type="email" required="">
	                   </div>
	                </div>
	                <div class="col-lg-12">
	                   <div class="form-group">
	                      <input class="form-control form-subject" placeholder="Asunto" name="subject" id="subject" type="text">
	                   </div>
	                </div>
	                <div class="col-lg-12">
	                   <div class="form-group">
	                      <textarea class="form-control form-message required-field" id="message" placeholder="Descripción" rows="1"></textarea>
	                   </div>
	                </div>
	             </div>
	             <div class="text-right">
	                <button class="btn btn-primary tw-mt-30" type="submit">Contáctanos</button>
	             </div>
	          </form>
	       </div>
	    </div>
	 </div>
	</div>
</div>