<div id="main-container" class="main-container">
  <div class="container"  >
     <div class="row">
        <div class="col text-center">
           <div class="section-heading">
              <h2>
                 <small>que es el</small>
                 Desarrollo  <span>a medida?</span>
              </h2>
              <span class="animate-border tw-mt-20 tw-mb-40 mr-auto ml-auto"></span>
           </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-6 align-self-md-center">
           <img src="assets/assetstuwebsite/images/services/good-design.png" alt="" class="img-fluid analytics-img">
        </div>
        <div class="col-md-5 ml-auto align-self-center">
           <div class="tw-web-analytics-content">
                  <i class="icon icon-target"></i>
                  <h3>Programando a medida</h3>
                  <span class="bottom-border tw-mt-20 tw-mb-30"></span>
                  <p>
                     Es el desarrollo de software enfocado en soluciones web que sirvan para la automatización de procesos y operaciones llevadas a cabo dentro de una empresa.<br> En tuw3bsite nos encargamos de poner en marcha su proyecto, usando tecnología de última generación para así brindarle la robustez, seguridad y escalabilidad que su proyecto requiera.
                   
                   <br>
                      Especialistas en sistemas cloud, aplicaciones web y aplicaciones web progresivas (PWA).
                   </p>
               </div>
        </div>
     </div>
  </div>
</div>

<div id="tw-case-working-process" class="tw-case-working-process bg-offwhite">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="row">
        <div class="col text-center">
           <div class="section-heading">
              <h2>
         <small>Su sitio web en pocos pasos</small>
                     Proceso<span> ágil</span>
              </h2>
              <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process1.png" alt="" class="img-fluid">
                    <span class="case-process-number">1</span>
                 </div>
              </div>
                <h3>01.Identificamos la temática de su negocio </h3>

           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process2.png" alt="" class="img-fluid">
                    <span class="case-process-number">2</span>
                 </div>
              </div>
              <h3>02.Realizamos una propuesta acorde a sus requerimientos</h3>

           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process3.png" alt="" class="img-fluid">
                    <span class="case-process-number">3</span>
                 </div>
              </div>
             <h3>03.Programamos y le damos funcionalidad a su proyecto</h3>
  
           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="tw-case-working-box">
              <div class="working-icon-wrapper">
                 <div class="working-icon">
                    <img src="assets/assetstuwebsite/images/icon/process4.png" alt="" class="img-fluid">
                    <span class="case-process-number">4</span>
                 </div>
              </div>
  <h3>04. Felicidades, su negocio se encuentra en linea!!!</h3>
           </div>
        </div>
     </div>
  </div>
</div>
 
<div id="tw-features-contact" class="tw-features-contact">
	<div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
	 <div class="row">
	    <div class="col-md-6">
	       <div class="section-heading">
	          <h2>Si tiene un proyecto, contactenos ahora</h2>
	          <span class="animate-border tw-mt-30 tw-mb-40"></span>
	       </div>
	       <div class="tw-features-contact-info">
	          <p>Le atenderemos, sus necesidades son nuestra prioridad!!</p>
	          <div class="row">
	             <div class="col-lg-6 col-md-12">
	                <div class="contact-us">
	                   <div class="contact-icon">
	                      <i class="icon icon-phone3"></i>
	                   </div>
	                   <div class="contact-info">
	                      <h3>+58 4147529202</h3>
	                      <p>Necesitas ayuda? llamanos!</p>
	                   </div>
	                </div>
	             </div>

	             <div class="col-lg-6 col-md-12">
	                <div class="contact-us">
	                   <div class="contact-icon">
	                      <i class="icon icon-envelope2"></i>
	                   </div>
	                   <div class="contact-info">
	                      <h3>tuw3bsite@gmail.com</h3>
	                      <p>escribenos</p>
	                   </div>
	                </div>
	             </div>
	          </div>
	       </div>
	    </div>
	    <div class="col-md-6">
	       <div class="contact-us-form service-contact-form">
	          <form id="contact-form" class="contact-form" action="http://demo.themewinter.com/html/seobin/contact-form.php" method="POST">
	             <div class="error-container"></div>
	             <div class="row">
	                <div class="col-lg-6">
	                   <div class="form-group">
	                      <input class="form-control form-name" name="name" id="name" placeholder="Nombre" type="text" required="">
	                   </div>
	                </div>
	                <div class="col-lg-6">
	                   <div class="form-group">
	                      <input class="form-control form-email" name="email" placeholder="Email" type="email" required="">
	                   </div>
	                </div>
	                <div class="col-lg-12">
	                   <div class="form-group">
	                      <input class="form-control form-subject" placeholder="Asunto" name="subject" id="subject" type="text">
	                   </div>
	                </div>
	                <div class="col-lg-12">
	                   <div class="form-group">
	                      <textarea class="form-control form-message required-field" id="message" placeholder="Descripción" rows="1"></textarea>
	                   </div>
	                </div>
	             </div>
	             <div class="text-right">
	                <button class="btn btn-primary tw-mt-30" type="submit">Contáctanos</button>
	             </div>
	          </form>
	       </div>
	    </div>
	 </div>
	</div>
</div>