 <section id="tw-analysis" class="tw-analysis-area">
      <div class="analysis-bg-pattern d-none d-md-inline-block">
         <img class="wow fadeInUp" src="assets/assetstuwebsite/images/check-seo/cloud.png" alt="">
         <img class="wow fadeInUp" src="assets/assetstuwebsite/images/check-seo/cloud2.png" alt="">
         <img class="wow fadeInUp" src="assets/assetstuwebsite/images/check-seo/announce.png" alt="">
         <img class="wow fadeInUp" src="assets/assetstuwebsite/images/check-seo/chart.png" alt="">
      </div>
      <!-- End Analysis Pattern img -->
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-8 text-center wow fadeInDown">
               <h2 class="column-title">
                  Deseas una <span class="text-white">demo grátis</span> de como se vería su <span class="text-white">página web?</span>
               </h2>
               <div class="analysis-form">
                  <form class="form-vertical">
                     <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-12 no-padding">
                           <div class="form-group tw-form-round-shape">
                              <input type="url" id="url" name="url" placeholder="Nombre" class="form-control">
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-12 no-padding">
                           <div class="form-group tw-form-round-shape">
                              <input type="email" id="email" name="email" placeholder="e-mail" class="form-control">
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-12 no-padding">
                           <div class="form-group">
                              <input type="submit" value="Solicitar ahora">
                           </div>
                        </div>
                     </div>
                  </form>
                  <!-- End Form -->
               </div>
               <!-- End Analysis form -->
            </div>
            <!-- Col End -->
         </div>
         <!-- End Row -->
      </div>
      <!-- End container -->
   </section>