 <section id="tw-service" class="tw-service">
      <div class="container">
         <div class="row text-center">
            <div class="col section-heading wow fadeInDown">
               <h2>
                  <small>Calidad y atención en</small>
                  Nuestros
                  <span>Servicios</span>
               </h2>
               <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
            </div>
         </div>
         <!-- Title Row End -->
         <div class="row">
            <div class="col-md-4 text-center">
               <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="service-icon service-icon-bg-1 d-table">
                     <div class="service-icon-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/service1.png" alt="search engine" class="img-fluid">
                     </div>
                  </div>
                  <!-- Service icon end -->
                  <div class="service-content">
                     <h3>Páginas Informativas</h3>
                     <p>Permitase exibir los productos o servicios de su empresa y a su vez establecer comunicación con sus visitantes. Recuerde que si no esta en internet no existe.</p>
                     <a href="infor.html" class="tw-readmore">mas info
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
                  <!-- Service Content end -->
               </div>
               <!-- Service box end -->
            </div>
            <!-- Col End -->
            <div class="col-md-4 text-center">
               <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <div class="service-icon service-icon-bg-2 d-table">
                     <div class="service-icon-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/service2.png" alt="search engine" class="img-fluid">
                     </div>
                  </div>
                  <!-- Service icon end -->
                  <div class="service-content">
                     <h3>Portafolios y blogs personal</h3>
                     <p>Muestre sus proyectos de manera profesional, y si quiere informar sobre sus servicios o se dedica a brindar asesorias esta es tu opciòn web</p>
                     <a href="admin.html" class="tw-readmore">más info
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
                  <!-- Service content end -->
               </div>
               <!-- Service box End -->
            </div>
            <!-- Col End -->
            <div class="col-md-4 text-center">
               <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
                  <div class="service-icon service-icon-bg-3 d-table">
                     <div class="service-icon-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/service3.png" alt="search engine" class="img-fluid">
                     </div>
                  </div>
                  <!-- Service Icon End -->
                  <div class="service-content">
                     <h3>Empresariales y administrables</h3>
                     <p>Indique al publico quienes son como empresa. Nosotros desarrollamos caracteristicas acordes a las necesidades de su empresa, informa y agiliza procesos</p>
                     <a href="medida.html" class="tw-readmore">más info
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
                  <!-- Service content end -->
               </div>
               <!-- Service box End -->
            </div>
            <!-- Col end -->
         </div>
         <!-- Row end -->
         <div class="tw-mb-60"></div>
         <div class="row">
            <div class="col-md-4 text-center">
               <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="service-icon service-icon-bg-4 d-table">
                     <div class="service-icon-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/service4.png" alt="search engine" class="img-fluid">
                     </div>
                  </div>
                  <!-- Service icon end -->
                  <div class="service-content">
                     <h3>Gestores de contenido</h3>
                     <p>Administre el contenido de su pàgina web a bajo costo y mantengase siempre actualizado </p>
                     <a href="admin.html" class="tw-readmore">más info
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
                  <!-- Service content end -->
               </div>
               <!-- Service Box end -->
            </div>
            <!-- Col end -->
            <div class="col-md-4 text-center">
               <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <div class="service-icon service-icon-bg-5 d-table">
                     <div class="service-icon-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/service5.png" alt="search engine" class="img-fluid">
                     </div>
                  </div>
                  <!-- Service icon end -->
                  <div class="service-content">
                     <h3>Tiendas virtuales</h3>
                     <p>Comercio electrònico en poco tiempo, Venda sus productos y servicios desde su propia tienda en linea. </p>
                     <a href="medida.html" class="tw-readmore">más info
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
                  <!-- Service content end -->
               </div>
               <!-- Service box end -->
            </div>
            <!-- Row End -->
            <div class="col-md-4 text-center">
               <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
                  <div class="service-icon service-icon-bg-6 d-table">
                     <div class="service-icon-inner d-table-cell">
                        <img src="assets/assetstuwebsite/images/icon/service6.png" alt="search engine" class="img-fluid">
                     </div>
                  </div>
                  <!-- Service Icon end-->
                  <div class="service-content">
                     <h3>Desarrollo a medida</h3>
                     <p>Desarrollo de aplicaciones web fabricadas a medida. Solicitadas para Sistemas de reservas, E-learning, Cotizaciones, Directorios y muchos más. Si tu idea es factible solicita tu sitio web AHORA!!</p>
                     <a href="medida.html" class="tw-readmore">más info
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
                  <!-- Service Content end -->
               </div>
               <!-- Service box end-->
            </div>
            <!-- Col end -->
         </div>
         <!-- Row End -->
      </div>
      <!-- container -->
   </section>