 <!-- <header style="padding-bottom: 50px;">
     <div class="tw-head tw-transparent">
         <div class="container">
             <nav class="navbar navbar-expand-lg navbar-light">
                 <a class="navbar-brand tw-nav-brand" routerLink="">
                     <img src="assets/assetstuwebsite/images/logo/logo.png" alt="seobin">
                 </a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                     aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="portafolio.html">Portafolio</a></li>
                        <li class="nav-item dropdown">
                           <a class="nav-link" href="service.html" data-toggle="dropdown">
                              Tipos de Webs
                              <span class="tw-indicator"><i class="fa fa-angle-down"></i></span>
                           </a>
                           <ul class="dropdown-menu tw-dropdown-menu">
                              <li><a routerLink="informativas">Informativas</a></li>
                              <li><a routerLink="administrables">Administrables</a></li>
                              <li><a routerLink="medida">Desarrollo a medida</a></li>
                           </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLink="contact">Contacto</a></li>
                        <li class="nav-item" ><a class="nav-link" style="color:#f9057c; font-weight:700;">Shops</a></li>
                     </ul>
                 </div>
                 <div class="tw-off-search d-none d-lg-inline-block">
                    <div class="tw-search">
                      <i class="fa fa-envelope-open-o "></i>
                     </div>
                     <div class="tw-menu-bar-default tw-menu-bar" id="open-button">
                         <span></span>
                         <span></span>
                         <span></span>
                     </div>
                 </div>
             </nav>
         </div>
     </div>
   </header> -->
      <header  style="padding-bottom: 50px;">
     <div class="tw-head ">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand tw-nav-brand" routerLink="/">
                        <img src="assets/assetstuwebsite/images/logo/logo.png" alt="seobin">
                    </a>
                    <!-- End of Navbar Brand -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- End of Navbar toggler -->
                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                       <ul class="navbar-nav">
                     
                     <!-- End Dropdown -->
                     <li class="nav-item"><a class="nav-link" href="portafolio.html">Portafolio</a></li>
                     <!-- End Dropdown -->
                     <li class="nav-item dropdown">
                        <a class="nav-link" style="cursor: pointer;" data-toggle="dropdown">
                           La web que necesitas
                           <span class="tw-indicator"><i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu tw-dropdown-menu">
                           <li><a routerLink="informativas">Informativa</a></li>
                           <li><a routerLink="administrables">Administrable</a></li>
                           <li><a routerLink="medida">Desarrollo a medida</a></li>
                        </ul>                     </li>
                     <li class="nav-item dropdown active">
                        <a class="nav-link active"  data-toggle="dropdown">
                          Contacto
                          <span class="tw-indicator"><i class="fa fa-angle-down"></i></span>
                       </a>
                        <ul class="dropdown-menu tw-dropdown-menu">
                           <li><a routerLink="team">Nuestro Equipo</a></li>
                           <li><a routerLink="contact">Contacto</a></li>
                           
                        </ul>
                     </li>
                     <!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li> -->
                     <li class="nav-item" ><a class="nav-link" href="shops/index.html" style="color:#f9057c; font-weight:700;">Shops</a></li>

                  </ul>
                        <!-- End Navbar Nav -->
                    </div>
                    <!-- End of navbar collapse -->

                    <div class="tw-off-search d-none d-lg-inline-block">
                       <div class="tw-search"><a>
                         <i class="fa fa-envelope-open-o "></i>
                         </a>
                        </div>
                        <div class="tw-menu-bar-default tw-menu-bar" id="open-button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- End off canvas menu -->
            </nav>
         </div>
     </div>
   </header>