<div class="offcanvas-menu">
      <div class="offcanvas-menu-overlay"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="offcanvas-wrapper">
                  <div class="offcanvas-inner">
                     <a href="index.html" class="logo">
                        <img src="assets/assetstuwebsite/images/logo/logo.png" alt="">
                     </a>
                     <p align="left">Equipo creativo dedicado al diseño y desarrollo de páginas web personalizadas. portafolios, landing-page, e-commerce, catálogos y más.</p>
                     <div class="row">
                    
                      
                        <!-- End Col -->
                        <div class="col-md-12">
                           <div class="contact-us">
                              <div class="contact-icon">
                                 <i class="icon icon-envelope2"></i>
                              </div>
                              <!-- End contact Icon -->
                              <div class="contact-info">
                                 <h3>tuw3bsite@gmail.com</h3>
                                 <p>Escríbenos</p>
                              </div>

                              <!-- End Contact Info -->
                           </div>
                           <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        
                     </div>
                     <!-- End Contact Row -->
                     <div class="footer-social-link">
                        <ul>
                           <li><a href="https://wa.me/584147529202" target="_blanck"><i class="fa fa-whatsapp"></i></a></li>
                           <li><a href="https://www.facebook.com/tuw3bsite" target="_blanck"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="https://www.instagram.com/tuw3bsite" target="_blanck"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                     </div>
                  </div>
                  <button class="menu-close-btn">
                     <i class="fa fa-close"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>