<div class="offcanvas-menu">
      <div class="offcanvas-menu-overlay"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="offcanvas-wrapper">
                  <div class="offcanvas-inner">
                     <a href="index.html" class="logo">
                        <img src="assets/assetstuwebsite/images/logo/logo.png" alt="">
                     </a>
                     <p align="justify">Equipo creativo dedicado al diseño y desarrollo de paginas web personalizadas. <br> Portafolios, Landing-page, e-comerce, e-learning, catalogos y más.</p>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="contact-us">
                              <div class="contact-icon">
                                 <i class="icon icon-map2"></i>
                              </div>
                              <!-- End contact Icon -->
                              <div class="contact-info">
                                 <h3>Mérida</h3>
                                 <p>Venezuela</p>
                              </div>
                              <!-- End Contact Info -->
                           </div>
                           <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-12">
                           <div class="contact-us">
                              <div class="contact-icon">
                                 <i class="icon icon-phone3"></i>
                              </div>
                              <!-- End contact Icon -->
                              <div class="contact-info">
                                 <h3>+58 412 7503002</h3>
                                 <p>Contactanos</p>
                              </div>
                              <!-- End Contact Info -->
                           </div>
                           <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-12">
                           <div class="contact-us">
                              <div class="contact-icon">
                                 <i class="icon icon-envelope2"></i>
                              </div>
                              <!-- End contact Icon -->
                              <div class="contact-info">
                                 <h3>tuw3bsite@gmail.com.ve</h3>
                                 <p>24/7 Soporte</p>
                              </div>

                              <!-- End Contact Info -->
                           </div>
                           <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        
                     </div>
                     <!-- End Contact Row -->
                     <div class="footer-social-link">
                        <ul>
                           <li><a href="https://wa.me/584127503002" target="_blanck"><i class="fa fa-whatsapp"></i></a></li>
                           <li><a href="https://www.facebook.com/tuw3bsite" target="_blanck"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="https://www.instagram.com/tuw3bsite" target="_blanck"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                     </div>
                  </div>
                  <button class="menu-close-btn">
                     <i class="fa fa-close"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>