 <section id="tw-pricing" class="tw-pricing">
         <div class="container">
            <div class="row text-center">
               <div class="col section-heading">
                  <h2>
                     <small>Precios asequibles para su página web</small>
                     Planes & <span>Características</span>
                  </h2>
                  <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
               </div>
               <!-- End Col -->
            </div>
            <!-- End Section Heading Row -->
            <div class="row">
               <div class="col-md-12">
                  <div class="pricing-tab">
                    
                     <!-- Nav Tabs ends -->
                     <div class="tab-content tw-tab-content">
                        <div class="tab-pane show active" id="monthly">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="tw-pricing-box">
                                    <div class="price-icon-bg">
                                       <div class="price-icon">
                                          <img src="assets/assetstuwebsite/images/pricing/pricing_icon1.png" alt="" class="img-fluid">
                                       </div>
                                    </div>
                                    <!-- End Pricing icon bg -->
                                    <div class="pricing-feaures">
                                       <h3>Informativa</h3>
                                       <p>
                                          Eres emprendedor y necesitas tener presencia en internet para informar sobre tus servicios o los de tu empresa, al tiempo que creas un canal de comunicación directa con tus visitantes.
                                          <li>Este es tu plan</li>
                                       </p>
                                    </div>
                                    <!-- Pricing Features End -->
                                    <div class="pricing-price">
                                       <sup>Desde</sup>
                                       <strong>89,99</strong>
                                       <small>$USD</small>
                                    </div>
                                    <!-- Pricing End -->
                                    <a href="contact.html" class="btn btn-dark">Solicitar</a>

                                 </div>
                                 <!--  pricing box ends -->
                              </div>
                              <!-- COl end -->
                              <div class="col-md-4">
                                 <div class="tw-pricing-box pricing-featured">
                                    <div class="price-icon-bg">
                                       <div class="price-icon">
                                          <img src="assets/assetstuwebsite/images/pricing/pricing_icon3.png" alt="" class="img-fluid">
                                       </div>
                                    </div>
                                    <!-- End Pricing icon bg -->
                                    <div class="pricing-feaures">
                                       <h3>Desarrollo a medida</h3>

                                       <p>
                                       Eres una empresa y requieres un Sitio web personzalido, fabricado a medida. Este es el pla para usted, administre desde un panel de control responsivo e intuitivo y agilize la gestión del contenido desde cualquier lugar y dispositivo. Automatize ahora y gane tiempo. 
                                       </p>
                                    </div>
                                    <!-- Pricing Features End -->
                                    <div class="pricing-price">
                                       <sup>Desde</sup>
                                       <strong>399,99</strong>
                                       <small>$USD</small>
                                    </div>
                                    <!-- Pricing End -->
                                    <a href="contact.html" class="btn btn-dark">Solicitar</a>

                                 </div>
                                 <!--  pricing box ends -->
                              </div>
                              <!-- COl end -->
                              <div class="col-md-4">
                                 <div class="tw-pricing-box">
                                    <div class="price-icon-bg">
                                       <div class="price-icon">
                                          <img src="assets/assetstuwebsite/images/pricing/pricing_icon2.png" alt="" class="img-fluid">
                                       </div>
                                    </div>
                                    <!-- End Pricing icon bg -->
                                    <div class="pricing-feaures">
                                    <h3>Administrable Pre-build</h3>
                                       <p>
                                          Búscas un Gestor de contenido o tiendas? Nosotros implementamos para usted la mejor opción según sus necesidades, con diseños acorde a la tematica de los productos en venta
                                          <li>OPencart</li>
                                          <li>Wordpress</li>
                                          <li>Joomla + virtueMart</li> 
                                       </p>
                                    </div>
                                    <!-- Pricing Features End -->
                                    <div class="pricing-price">
                                       <sup>Desde</sup>
                                       <strong>249,99</strong>
                                       <small>$USD</small>
                                    </div>
                                    <!-- Pricing End -->
                                    <a href="contact.html" class="btn btn-dark">Solicitar</a>

                                 </div>
                                 <!--  pricing box ends -->
                              </div>
                              <!-- COl end -->
                           </div>
                           <!-- Tab pane end -->
                        </div>
                        <!-- Tab Content End -->
                        
                     </div>
                     <!-- Row End -->
                  </div>
                  <!-- Pricing tab end -->
               </div>
               <!-- Content Col end -->
            </div>
            <!-- Content Row End -->
         </div>
         <!-- Container End -->
   </section>