 <section id="tw-pricing" class="tw-pricing" style="margin-top: 125px;">
         <div class="container">
            <div class="row text-center">
               <div class="col section-heading">
                  <h2>
                     <small>Precios asequibles para su página web</small>
                     Planes & <span>Características</span>
                  </h2>
                  <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
               </div>
               <!-- End Col -->
            </div>
            <!-- End Section Heading Row -->
            <div class="row">
               <div class="col-md-12">
                  <div class="pricing-tab">
                    
                     <!-- Nav Tabs ends -->
                     <div class="tab-content tw-tab-content">
                        <div class="tab-pane show active" id="monthly">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="tw-pricing-box" style="padding: 6%;">
                                   <div class="price-icon-bg" style="display: inline;">
                                       <div class="price-icon">
                                          <img src="assets/assetstuwebsite/images/pricing/new/pricing_icon1.png" alt="" class="img-fluid">
                                       </div>
                                    </div>
                                    <!-- End Pricing icon bg -->
                                    <div class="pricing-feaures">
                                       <h3 style="text-align: center;">Informativa</h3>
                                       <p>
                                          Para emprendedores, si necesita tener presencia en internet para informar sobre sus servicios o los de su empresa al tiempo que ofrece un canal de comunicación directa con sus visitantes.
                                          <br>Este es su plan                                       
                                    </div>
                                    <!-- Pricing Features End -->
                                    <div class="pricing-price">
                                       <sup>Desde</sup>
                                       <strong>149,99</strong>
                                       <small>$USD</small>
                                    </div>
                                    <!-- Pricing End -->
                                    <a href="contact.html" class="btn btn-dark">Solicitar</a>

                                 </div>
                                 <!--  pricing box ends -->
                              </div>
                              <!-- COl end -->
                              <div class="col-md-4 text-center">
                                 <div class="tw-pricing-box pricing-featured" style="padding: 6%;">
                                 <!-- <div class="tw-pricing-box pricing-featured"> -->
                                   <div class="price-icon-bg" style="display: inline;">
                                       <div class="price-icon">
                                          <img src="assets/assetstuwebsite/images/pricing/new/pricing_icon3.png" alt="" class="img-fluid">
                                       </div>
                                    </div>
                                    <!-- End Pricing icon bg -->
                                    <div class="pricing-feaures">
                                       <h3 style="text-align: center;">Desarrollo a medida</h3>

                                       <p>
                                       Si requiere un sitio web personalizado, fabricado a medida. Este es el plan para usted, administre desde un panel de control responsivo e intuitivo y agilize la gestión de contenidos desde cualquier lugar y dispositivo. Automatice ahora y gane tiempo. 
                                       </p>
                                    </div>
                                    <!-- Pricing Features End -->
                                    <div class="pricing-price">
                                       <sup>Desde</sup>
                                       <strong>399,99</strong>
                                       <small>$USD</small>
                                    </div>
                                    <!-- Pricing End -->
                                    <a href="contact.html" class="btn btn-dark">Solicitar</a>

                                 </div>
                                 <!--  pricing box ends -->
                              </div>
                              <!-- COl end -->
                              <div class="col-md-4">
                                 <div class="tw-pricing-box" style="padding: 6%;">
                                   <div class="price-icon-bg" style="display: inline;">
                                       <div class="price-icon">
                                          <img src="assets/assetstuwebsite/images/pricing/new/pricing_icon2.png" alt="" class="img-fluid">
                                       </div>
                                    </div>
                                    <!-- End Pricing icon bg -->
                                    <div class="pricing-feaures">
                                    <h3 style="text-align: center;">CMS e-commerce</h3>
                                       <p>
                                          Venda sus productos todo el año desde una plataforma propia con pasarela de pago certificada para su pais. Recuerde que es el momento de llegar a todos.
                                         </p>
                                    </div>
                                    <!-- Pricing Features End -->
                                    <div class="pricing-price">
                                       <sup>Desde</sup>
                                       <strong>299,99</strong>
                                       <small>$USD</small>
                                    </div>
                                    <!-- Pricing End -->
                                    <a href="contact.html" class="btn btn-dark">Solicitar</a>

                                 </div>
                                 <!--  pricing box ends -->
                              </div>
                              <!-- COl end -->
                           </div>
                           <!-- Tab pane end -->
                        </div>
                        <!-- Tab Content End -->
                        
                     </div>
                     <!-- Row End -->
                  </div>
                  <!-- Pricing tab end -->
               </div>
               <!-- Content Col end -->
            </div>
            <!-- Content Row End -->
         </div>
         <!-- Container End -->
   </section>