<div id="main-container" class="main-container">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="row">
        <div class="col text-center">
           <div class="section-heading">
              <h2>
                 <small>Que son las</small>
                 Webs  <span>Administrables?</span>
              </h2>
              <span class="animate-border tw-mt-20 tw-mb-40 mr-auto ml-auto"></span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-6 align-self-md-center">
           <img src="assets/assetstuwebsite/images/services/single_service_img1.png" alt="" class="img-fluid analytics-img">
        </div>
        <div class="col-md-5 ml-auto align-self-justify">
           <div class="tw-web-analytics-content">
              <i class="icon icon-question-circle"></i>
              <h3>Gestiona, informa y vende</h3>
              <span class="bottom-border tw-mt-20 tw-mb-30"></span>
              <p>
                 Permiten gestionar contenidos, imagenes e información de la página web, a traves de un panel de control teniendo el control del contenido del sitio web. <br> Podrás adquirir este tipo de paginas y gestionarlas o delegar esta actividad a un especialista, nosotros lo haremos por ti!!!  
              </p>
           </div>
        </div>
        <div class="col-lg-12 col-md-12">
           <div class="tw-faq-content">
              <div class="section-heading">
                 <h3>Que quiero hacer y cual de estas opciones necesito?</h3>
                 <span class="tw-mt-20"></span>
              </div>
              <div id="accordion" role="tablist">
                 <div class="card ">
                    <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">
                       <h4>
                          <a>
                             Tiendas online
                             <i class="faq-indicator fa fa-minus"></i>
                          </a>
                       </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                       <div class="card-block">
                          Con el uso de Tiendas online te permite Clasificar, promuever y muestrar todos los beneficios y detalles técnicos de productos, estas ofrecen excelentes ventajas tales como: • Reducción de costos. • Cómodo canal de ventas para que sus clientes compren con unos clicks sin salir de su casa. • Cobrar con tarjetas de forma rápida y segura • Online los 365 días del año las 24 hs.<br> Si tu presuesto es ajustado y quieres vender, Esta es la mejor opción.
                       </div>
                    </div>
                 </div>
                 <div class="card ">
                    <div class="card-header" role="tab" id="headingtwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                       aria-controls="collapseTwo">
                       <h4>
                          <a class="collapsed">
                             Blogs, Catalogos, Sitios orientados a noticias, deportes, Eventos, entre otra.
                          <i class="faq-indicator fa fa-plus"></i>
                       </a>
                       </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwo">
                       <div class="card-block">
                        <p>
                          Mantente al día con tu Blogs, publica e interactua sobre un tema en concreto. Este tipo de sitios podrían compararse perfectamente con una revista, las cuáles van publicando contenidos de forma periódica sobre un tema en concreto.</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<div id="tw-service-value" class="tw-service-value bg-offwhite">
  <div class="container"  style="padding-top: 50px;padding-bottom: 50px;" >
     <div class="row">
        <div class="col-lg-3 col-md-12">
           <div class="tw-value-desc">
              <h2 class="column-title">Plataformas</h2>
              <span class="animate-border border-offwhite tw-mt-20 tw-mb-35"></span>
              <p align="justify">
                 Difunde información a tus posibles clientes usa un gestor de contenido.<br>
                 Vende en linea con una tiendas online usando plataformas de bajo costo.
              </p>
           </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
           <div class="percent-area">
              <div class="chart" data-percent="80">
                 <p class="percent">80%</p>
                 <small>Tiendas</small>
              </div>
              <p>Opencart</p>
           </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
           <div class="percent-area">
              <div class="chart" data-percent="75">
                 <p class="percent">75%</p>
                 <small>CMS</small>
              </div>
              <p>Wordpress</p>
           </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
           <div class="percent-area">
              <div class="chart" data-percent="70">
                 <p class="percent">70%</p>
                 <small>Tiendas</small>
              </div>
              <p>Joomla</p>
           </div>
        </div>
     </div>
  </div>
</div>